{% extends 'layout.twig' %}

{% block content %}
    <header class="row tm-welcome-section">
        <h2 class="col-12 text-center tm-section-title">Login</h2>
        <p class="col-12 text-center">
            Enter your credentials to access your account.
        </p>
    </header>

    <div class="tm-container-inner-2 tm-contact-section">
        <div class="row">
            <div class="col-12">
                <form id="loginForm" action="/login" method="POST" class="tm-contact-form">
                    <div id="form-messages"></div>

                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username or Email" required>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>

                    <div class="form-group tm-d-flex">
                        <button type="submit" class="tm-btn tm-btn-success tm-btn-right">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('#loginForm').on('submit', function (e) {
                e.preventDefault();

                let form = $(this);
                let formData = form.serialize();
                let messages = $('#form-messages');

                $.ajax({
                    url: '/login',
                    type: 'POST',
                    data: formData,
                    success: function (response) {
                        messages
                            .removeClass('tm-text-danger')
                            .addClass('tm-text-success')
                            .html(`${response.message}`);

                        form[0].reset();

                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    },
                    error: function (xhr) {
                        let res = xhr.responseJSON;
                        messages.removeClass('tm-text-success').addClass('tm-text-danger');

                        if (res && res.errors) {
                            let html = '<ul>';
                            for (const [field, errors] of Object.entries(res.errors)) {
                                html += `<li>${errors.join('<br>')}</li>`;
                            }
                            html += '</ul>';
                            messages.html(html);
                        } else if (res && res.message) {
                            messages.html(res.message);
                        } else {
                            messages.html('<p>An error occurred while submitting the form.</p>');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}